.galerey-title{
    text-align: center;
    margin-top: 101px;
    font-size: 52px;
    span{
        color:  #D67E34;
    }
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
    margin-top: 59px;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 3; }
    .div2 { grid-area: 1 / 3 / 3 / 4; }
    .div3 { grid-area: 1 / 4 / 3 / 5; }
    .div4 { grid-area: 3 / 1 / 5 / 2; }
    .div5 { grid-area: 3 / 2 / 5 / 3; }
    .div6 { grid-area: 3 / 3 / 5 / 5; }
@media only screen and (max-width:320px){
    .galerey-title{
        text-align: center;
        margin-top: 101px;
        font-size: 52px;
        span{
            color:  #D67E34;
        }
    }
    .parent {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 20px;
        margin-top: 59px;
        }
        
        .div1 {
            grid-area: 1 / 1 / 3 / 3; 
            img{
                width: 320px;
                height: 311px;
            }
        }
        .div2 { 
            grid-area: 1 / 3 / 3 / 4;
            img{
                width: 320px;
                height: 311px;
            }
        }
        .div3 {
            grid-area: 1 / 4 / 3 / 5; 
            img{
                width: 320px;
                height: 311px;
            }
        }
        .div4 { 
            grid-area: 3 / 1 / 5 / 2;
            img{
                width: 320px;
                height: 311px;
            }
        }
        .div5 { 
            grid-area: 3 / 2 / 5 / 3; 
            img{
                width: 320px;
                height: 311px;
            }
        }
        .div6 { 
            grid-area: 3 / 3 / 5 / 5; 
            img{
                width: 320px;
                height: 311px;
            }
        }
        
}    