.istoria{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 0;
    .blok{
        height: 400px;
        .h2{
            color: rgb(0, 0, 0);
            font-size: 54px;
            margin-left: 60px;
            span{
                color:  #D67E34;
            }
        }
        .decc{
            width: 440px;
            color: #656363;
            text-align: center;
            margin-top: 20px;
        }
        .nashe{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: -30px;

            .sonlar1{
                // width: 30px;
                margin: 100px 0;
                span{
                    font-size: 40px;
                    // margin: 100px 50px;
                    color:  #BC9060;
                }
                p{
                    font-size: 20px;
                    // margin-left: 50px;
                }
            }
        }
    }
}
@media only screen and (max-width:320px){
    .istoria{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 120px 0;
        .blok{
            height: 400px;
            .h2{
                width: 181px;
                color: rgb(0, 0, 0);
                font-size: 40px;
                text-align: center;
                margin-left: 60px;
                span{
                    color:  #D67E34;
                }
            }
            .decc{
                width: 290px;
                color: #656363;
                text-align: center;
                margin-top: 20px;
            }
            .nashe{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                margin-top: 160px;
    
                .sonlar1{
                    margin-top: -40px;
                    // width: 30px;
                    // margin: 50px 0;
                    span{
                        font-size: 40px;
                        // margin: 100px 50px;
                        color:  #BC9060;
                    }
                    p{
                        font-size: 20px;
                        // margin-left: 50px;
                    }
                }
            }
        }
        .bgco{
            width: 290px;
            margin-top: 200px;
            img{
                width: 100%;  
                margin-top: 250px;             
            }
        }
    }
}