.foodtitle{
    h2{
        text-align: center;
        margin-top: 132px;
        font-size: 52px;
        span{
            color:  #D67E34;
        }
    }
} 
.berg{
    display: flex;
    align-items:center;
    gap: 30px;
    margin-top: 143px;  
    .iki{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .r1{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    
}
@media only screen and (max-width:320px){
    .foodtitle{
        h2{
            margin: 0 auto;
            width: 176px;
            text-align: center;
            margin-top: 132px;
            font-size: 40px;
            span{
                color:  #D67E34;
            }
        }
    }
    .enpel{
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 
    .berg{
        display: flex;
        align-items:center;
        flex-direction: column;
        gap: 30px;
        margin-top: 143px;  
        .iki{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-left: -130px;
            .r1{
                display: flex;
                align-items: center;
                font-size: 10px;
                justify-content: flex-start;
                h2{
                    margin-left: 20px;
                }
                p{
                    padding-top: 2px;
                    span{
                        display: none;
                    }
                }
                img{
                    width: 130px;
                    height: 113px;
                }
            }

        }
        
    }
}